
{%- assign p = include.page -%}


{%- comment -%} {{p.name}} <br> {%- endcomment -%}
{%- assign parts = p.content | split: '<!--cut' -%}
{%- if parts.size > 1 -%}
    {%- assign previewOut = parts[0] | markdownify -%}  
    {%- assign parts = previewOut | split: '</h1>' -%}
    {%- if parts.size > 1 -%}{%- assign previewOut = parts[1] -%}{%- endif -%}    
    {%- capture imgsrc -%}src="{{p.dir}}assets/{%- endcapture -%}
    {%- capture previewOut -%}<p>{{ previewOut | replace: 'src="assets/', imgsrc }}</p>{%- endcapture -%} 
{%- else -%}
    {%- assign previewOut = '' -%}
{%- endif -%}

{%- if p.title -%}<h3 style="margin-bottom: 10px;"><a href="{{p.url}}">{{p.title}}</a></h3>{%- endif -%}
{%- if p.tags.size > 0 -%}
    <div>{%- for tag in p.tags -%}[ {{tag}} ]{%- endfor -%}</div>
{%- endif -%}

{{previewOut}}
<a href="{{p.url}}"> Continue reading → </a> <br><br>
<hr/>